@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100;1,14..32,100&display=swap");

body {
  padding: 0;
  margin: 0;
}

.overall-wrapper {
  font-family: "Inter", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  position: relative;
  bottom: 100px;
}
.submit-btn {
  width: 90px;
  height: 40px;
  background-color: #2a65f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Prompt-area {
  font-size: 20px;
  font-family: "Inter", serif;
  outline: unset;
  padding: 10px;
  width: 1000px;
  height: 240px;
}
.response-content{
  width: 1000px;
  height: 240px;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  border: 1px solid black;
}
.buttons{
  display: flex;
  gap: 10px;
}
